/* src/App.module.css */
.appContainer {
  text-align: center;
  background-color: #f4f4f8; /* Light grey background for the whole app */
  min-height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  color: #34495e; /* Dark blue color for heading */
  margin-bottom: 20px;
}

