.container {
  background-color: #ffffff;
  border: 2px solid #0077cc;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  grid-column: span 6;
  margin: auto;
}

.message {
  color: #333333;
  font-size: 16px;
  margin: 10px 0;
}

.key {
  color: #0077cc;
  font-size: 14px;
  font-family: 'Courier New', Courier, monospace;
}